- var pathDesktop = '../assets/images/desktop/' 
- var pathMobile =  '../assets/images/mobile/'

mixin pictures( filename, alt )
    picture
        source(
            media="(max-width: 450px)"
            srcset=pathMobile + filename
        )
        img(
            src=pathDesktop + filename
            alt=alt
        )

mixin card(filename ,title = "") 
    section
        +pictures(filename, title)
        p=title
